*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:linear-gradient(120deg,#020617,#0b3c5d);
    color:#e2e8f0;
    padding-top:80px;
}

/* Navbar */


/* Section */
.about-section{
    max-width:900px;
    margin:auto;
    padding:40px 20px;
    display:flex;
    flex-direction:column;
    gap:30px;
}

/* Cards */
.about-card{
    background:rgba(2,6,23,0.85);
    border:1px solid #1e293b;
    border-radius:12px;
    padding:30px;
    box-shadow:0 0 20px rgba(56,189,248,0.1);
    transition:0.3s;
}

.about-card:hover{
    box-shadow:0 0 30px rgba(56,189,248,0.25);
}

/* Headings */
.about-card h2{
    color:#38bdf8;
    margin-bottom:15px;
}

.about-card p{
    line-height:1.7;
    margin-bottom:12px;
    color:#cbd5e1;
}

/* Education */
.edu-item{
    margin-top:15px;
}

.edu-item h3{
    color:#38bdf8;
}

.edu-item span{
    font-size:14px;
    color:#94a3b8;
}

.edu-item p{
    margin-top:6px;
}

/* Mobile */
@media(max-width:768px){
    .about-section{
        padding:20px 15px;
    }

    .about-card{
        padding:20px;
    }
}
