*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background: linear-gradient(90deg,#020617,#0b3c5d);
    color:#e2e8f0;
}

/* Navbar */


/* Section */
.cert-section{
    padding:120px 40px 60px;
    max-width:1100px;
    margin:auto;
    text-align:center;
}

.title{
    font-size:36px;
    color:#38bdf8;
}

.subtitle{
    margin-top:10px;
    color:#94a3b8;
}

/* Filter Buttons */
.filter-buttons{
    margin-top:25px;
}

.filter-btn{
    background:#020617;
    border:1px solid #1e293b;
    color:#e2e8f0;
    padding:6px 16px;
    border-radius:20px;
    margin:5px;
    cursor:pointer;
    transition:0.3s;
}

.filter-btn.active,
.filter-btn:hover{
    background:#38bdf8;
    color:#020617;
}

/* Grid */
.cert-grid{
    margin-top:40px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

/* Card (same as project style) */
.cert-card{
    background:#020617;
    border:1px solid #1e293b;
    border-radius:14px;
    padding:25px;
    text-align:left;
    transition:0.4s;
}

.cert-card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 30px rgba(56,189,248,0.25);
}

.cert-card h3{
    color:#38bdf8;
}

.cert-card p{
    margin:8px 0 15px;
    color:#94a3b8;
}

/* Button */
.btn.view{
    background:#38bdf8;
    color:#020617;
    padding:6px 16px;
    border-radius:6px;
    text-decoration:none;
    font-size:14px;
    transition:0.3s;
}

.btn.view:hover{
    transform:scale(1.05);
}

/* Scroll animation */
.hidden{
    opacity:0;
    transform:translateY(40px);
    transition:0.6s;
}

.show{
    opacity:1;
    transform:translateY(0);
}

/* Footer */
footer{
    text-align:center;
    padding:20px;
    background:#020617;
    margin-top:40px;
}