*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background: linear-gradient(90deg,#020617,#0b3c5d);
    color:#e2e8f0;
}

/* Navbar */


/* Contact Section */
.contact-section{
    text-align:center;
    padding:150px 30px;
}

.contact-section h1{
    font-size:36px;
    color:#38bdf8;
}

.subtitle{
    margin-top:10px;
    color:#94a3b8;
}

/* Social Icons */
.social-icons{
    margin:30px 0;
    display:flex;
    justify-content:center;
    gap:20px;
}

.social-icons a{
    width:55px;
    height:55px;
    border-radius:50%;
    background:#020617;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#38bdf8;
    font-size:22px;
    text-decoration:none;
    border:1px solid #1e293b;
    transition:0.3s;
    box-shadow:0 0 10px rgba(56,189,248,0.3);
}

.social-icons a:hover{
    transform:scale(1.1);
    box-shadow:0 0 25px #38bdf8;
}

/* Form */
.contact-form{
    max-width:500px;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact-form input,
.contact-form textarea{
    padding:12px;
    border-radius:6px;
    border:1px solid #1e293b;
    background:#020617;
    color:#e2e8f0;
}

.contact-form textarea{
    min-height:120px;
    resize:none;
}

.contact-form button{
    padding:14px;
    border:none;
    border-radius:6px;
    background:#38bdf8;
    color:#020617;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.contact-form button:hover{
    box-shadow:0 0 20px #38bdf8;
}

/* Mobile */
@media(max-width:768px){
    .contact-section h1{
        font-size:28px;
    }

    .social-icons{
        flex-wrap:wrap;
        gap:15px;
    }
}
