*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background: linear-gradient(90deg,#020617,#0b3c5d);
    color:#e2e8f0;
}

/* Navbar */
.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px 50px;
    position:fixed;
    width:100%;
    background:rgba(2,6,23,0.8);
    backdrop-filter:blur(10px);
    z-index:1000;
}

.logo{
    color:#38bdf8;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:#e2e8f0;
    transition:0.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}





/* ===== Projects Section ===== */
.projects-section{
    padding:100px 40px;
    max-width:1200px;
    margin:auto;
    text-align:center;
}

.title{
    font-size:36px;
    color:#38bdf8;
}

.subtitle{
    margin-top:10px;
    color:#94a3b8;
}

/* Grid */
.projects-grid{
    margin-top:40px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

/* Card */
.project-card{
    background:#020617;
    border:1px solid #1e293b;
    border-radius:14px;
    padding:20px;
    text-align:left;
    transition:0.4s;
}

.project-card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 30px rgba(56,189,248,0.25);
}

.project-card img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:8px;
}

.project-card h3{
    margin-top:15px;
    color:#38bdf8;
}

.project-card p{
    margin-top:8px;
    font-size:14px;
    line-height:1.5;
}

/* Tech tags */
.tech{
    margin-top:12px;
}

.tech span{
    display:inline-block;
    border:1px solid #1e293b;
    padding:4px 10px;
    border-radius:12px;
    margin-right:6px;
    font-size:12px;
}

/* Buttons */
.buttons{
    margin-top:15px;
}

.btn{
    display:inline-block;
    padding:6px 14px;
    border-radius:6px;
    font-size:13px;
    margin-right:8px;
    text-decoration:none;
    transition:0.3s;
}

.code{
    background:#111827;
    color:#38bdf8;
}

.live{
    background:#38bdf8;
    color:#020617;
}

.btn:hover{
    transform:scale(1.05);
}

/* Footer */
footer{
    text-align:center;
    padding:20px;
    background:#020617;
    margin-top:40px;
}

/* Scroll animation */
.hidden{
    opacity:0;
    transform:translateY(40px);
    transition:0.6s;
}

.show{
    opacity:1;
    transform:translateY(0);
}

/* mobile */
