*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:linear-gradient(120deg,#020617,#0b3c5d);
    color:#e2e8f0;
    padding-top:80px;
}

/* Navbar */


/* Section */
.skills-section{
    text-align:center;
    padding:60px 20px;
}

.title{
    font-size:34px;
    color:#38bdf8;
}

.subtitle{
    margin-top:10px;
    color:#94a3b8;
}

/* Glass box */
.skills-box{
    margin:40px auto;
    max-width:1000px;
    height:450px;
    background:rgba(2,6,23,0.6);
    border:1px solid #1e293b;
    border-radius:16px;
    backdrop-filter:blur(10px);
    position:relative;
    overflow:hidden;
}

/* Circle */
.skill-circle{
    position:absolute;
    width:110px;
    height:110px;
    border-radius:50%;
    background:rgba(2,6,23,0.9);
    border:1px solid #1e293b;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:5px;
    box-shadow:0 0 15px rgba(56,189,248,0.2);
    animation:float 4s ease-in-out infinite;
    transition:0.3s;
}

.skill-circle i{
    font-size:34px;
}

.skill-circle span{
    font-size:12px;
}

.skill-circle:hover{
    transform:scale(1.15);
    box-shadow:0 0 25px #38bdf8;
}

/* Floating */
@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-20px);}
    100%{transform:translateY(0);}
}

/* Positions */
.skill-circle:nth-child(1){ top:40px; left:60px; }
.skill-circle:nth-child(2){ top:180px; left:200px; }
.skill-circle:nth-child(3){ top:320px; left:80px; }
.skill-circle:nth-child(4){ top:80px; left:420px; }
.skill-circle:nth-child(5){ top:260px; left:500px; }
.skill-circle:nth-child(6){ top:40px; right:80px; }
.skill-circle:nth-child(7){ top:200px; right:50px; }
.skill-circle:nth-child(8){ bottom:40px; right:200px; }
.skill-circle:nth-child(9){ bottom:40px; left:350px; }

/* Icon colors */
.python{ color:#facc15; }
.sql{ color:#38bdf8; }
.git{ color:#f97316; }
.ml{ color:#a78bfa; }
.pandas{ color:#22c55e; }
.tf{ color:#f59e0b; }
.skl{ color:#ec4899; }
.html{ color:#f97316; }
.css{ color:#38bdf8; }

/* Mobile */
@media(max-width:768px){
    .skills-box{
        height:auto;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:20px;
        padding:20px;
    }

    .skill-circle{
        position:relative;
        width:90px;
        height:90px;
    }
}
